<div class="pb-3">
  <form class="max-w-md py-2">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input (keyup)="filtrar($event)" type="search" id="default-search" class="block w-full py-3 px-6 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="buscar" />
      <button (click)="clearInput($event)" type="button" class="input-btn text-white absolute end-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2">Borrar</button>
    </div>
  </form>

  <div *ngIf="mostarTabla()">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-200">
        <tr>
          <th *ngFor="let column of columnas" class="py-2 px-4 border-r">{{ getColumnName(column) | titlecase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of datosPaginados" (click)="onRowClicked(row)" [class.selected-row]="row === selectedRow" class="cursor-pointer hover:bg-gray-100">
          <td *ngFor="let column of columnas" class="border-t py-2 px-4 border-r">{{ row[column] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mostarTabla()" class="flex justify-start mt-4">
    <button *ngIf="paginaActual > 1" (click)="anteriorPagina()" class="px-3 py-1 mx-1 border rounded hover:bg-[#A56B4E] hover:text-white">Anterior</button>
    <input *ngIf="Math.ceil(datosExternos.length / elementosPorPagina) > 1" type="number" [(ngModel)]="paginaActual" (change)="cambiarPagina(paginaActual)"
      class="px-3 py-1 mx-1 border rounded w-16 text-center" min="1" [max]="Math.ceil(datosExternos.length / elementosPorPagina)">
    <button *ngIf="paginaActual < Math.ceil(datosExternos.length / elementosPorPagina)" (click)="siguientePagina()" class="px-3 py-1 mx-1 border rounded hover:bg-[#A56B4E] hover:text-white">Siguiente</button>
  </div>
</div>
