/* Estilo del encabezado */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D69A77; /* Color Primario Original */
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.current-date {
  margin-left: 8px;
  font-size: 16px; /* Tamaño de la fuente para la fecha */
  color: #361F18; /* Cuaternario */
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
}

.table-title {
  margin: 0;
  font-size: 24px; /* Tamaño de la fuente para el título */
  font-weight: bold;
  color: #361F18; /* Cuaternario */
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
  text-align: center;
}

.logo {
  margin-left: auto;
  width: 50px; /* Tamaño de la imagen del logo */
  height: auto;
}

/* Estilo del cuerpo del reporte */
.report-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Columna para espacio y columna para gráfica */
  gap: 16px;
  padding: 20px;
  background-color: #EFEFEF; /* Fondo original casi blanco similar al de la tabla */
  border-radius: 8px;
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  background-color: #FFFFFF; /* Fondo blanco */
  padding: 16px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
}

.info-item {
  font-size: 18px; /* Tamaño de fuente para las secciones principales */
  color: #361F18; /* Color de texto */
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
  text-align: left; /* Alinea el texto a la izquierda */
}

.info-item h3 {
  font-size: 20px; /* Tamaño de fuente para los títulos de las secciones */
  color: #A36750; /* Quinto Color */
  margin-bottom: 8px;
  text-align: center !important; /* Centra el subtítulo */
}

.chart-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}
