.page-item.active .page-link {
  background-color: #007bff;
  color: white;
}

.table-title {
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold;
  color: #361F18; /* Cuaternario */
  margin: 0; /* Sin margen */
  font-family: 'Arial', sans-serif; /* Fuente bonita */
  text-align: center; /* Centrar el texto */
  flex: 1; /* Permite centrar con d-flex */
}

.current-date {
  font-size: 16px; /* Tamaño de la fuente para la fecha */
  color: #361F18; /* Cuaternario */
  font-family: 'Arial', sans-serif; /* Fuente bonita */
}



.table th {
  background-color: #A36750; /* Color Primario */
  color: white;
}

.table td {
  background-color: #EFEFEF; /* Nuevo Color Terciario */
  color: #361F18; /* Cuaternario para texto */
}

.badge.bg-success {
  background-color: #A56B4E; /* Quinto Color */
}

.badge.bg-danger {
  background-color: #361F18; /* Cuaternario */
}
