.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D69A77;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.current-date {
  margin-left: 8px;
  font-size: 16px;
  color: #361F18;
  font-family: 'Arial', sans-serif;
}

.table-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #361F18;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.logo {
  margin-left: auto;
  width: 50px;
  height: auto;
}

.info-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #EFEFEF;
  border-radius: 8px;
}

.info-item {
  margin: 0 20px;
}

.table th {
  background-color: #A36750;
  color: white;
}

.table td {
  background-color: #EFEFEF;
  color: #361F18;
}

.page-item.active .page-link {
  background-color: #A36750; // Cambiar fondo del botón activo
  color: white;
}

.page-link {
  color: #361F18; // Cambiar color del texto de los botones de paginación
}

.page-link:hover {
  color: #A36750; // Cambiar color del texto al pasar el ratón
}

.page-item.disabled .page-link {
  color: #ccc; // Color para los botones deshabilitados
}

/* Estilos para el botón de impresión */
.print-btn {
  background-color: #A36750;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.print-btn:hover {
  background-color: #361F18;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D69A77;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.current-date {
  margin-left: 8px;
  font-size: 16px;
  color: #361F18;
  font-family: 'Arial', sans-serif;
}

.table-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #361F18;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.logo {
  margin-left: auto;
  width: 50px;
  height: auto;
}

.info-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #EFEFEF;
  border-radius: 8px;
}

.info-item {
  margin: 0 20px;
}

.table th {
  background-color: #A36750;
  color: white;
}

.table td {
  background-color: #EFEFEF;
  color: #361F18;
}

.page-item.active .page-link {
  background-color: #A36750; // Cambiar fondo del botón activo
  color: white;
}

.page-link {
  color: #361F18; // Cambiar color del texto de los botones de paginación
}

.page-link:hover {
  color: #A36750; // Cambiar color del texto al pasar el ratón
}

.page-item.disabled .page-link {
  color: #ccc; // Color para los botones deshabilitados
}

/* Estilos para el botón de impresión */
.print-btn {
  background-color: #A36750;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.print-btn:hover {
  background-color: #361F18;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .pagination {
  margin: 0;
}

.page-link {
  cursor: pointer;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}
