<div class=" sm:m-6 lg:m-8 xl:m-10 2xl:m-12 m-4">
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="space-y-12 sm:space-y-14 lg:space-y-16 xl:space-y-18 2xl:space-y-20">
    <div class="border-b border-gray-900/10 pb-12 sm:pb-14 lg:pb-16 xl:pb-18 2xl:pb-20">
      <h2 class="text-base/7 font-semibold text-gray-900">Informacion Personal</h2>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="nombres" class="block text-sm/6 font-medium text-gray-900">Nombres:</label>
          <div class="mt-2">
            <input type="text" formControlName="nombre" id="nombre" autocomplete="given-name" placeholder="Ej: Juan"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('nombre')?.errors?.['required']">Nombre es requerido</div>
              <div *ngIf="registroForm.get('nombre')?.errors?.['pattern']">Nombre solo puede contener letras</div>
              <div *ngIf="registroForm.get('nombre')?.errors?.['minlength']">Nombre debe tener al menos 2 caracteres</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="apellido" class="block text-sm/6 font-medium text-gray-900">Apellidos:</label>
          <div class="mt-2">
            <input type="text" formControlName="apellido" id="apellido" autocomplete="family-name" placeholder="Ej: Pérez"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('apellido')?.invalid && registroForm.get('apellido')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('apellido')?.errors?.['required']">Apellidos son requeridos</div>
              <div *ngIf="registroForm.get('apellido')?.errors?.['pattern']">Apellidos solo pueden contener letras</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="telefono" class="block text-sm/6 font-medium text-gray-900">Teléfono:</label>
          <div class="mt-2">
            <input type="tel" formControlName="telefono" id="telefono" autocomplete="tel" placeholder="Ej: 98765432"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('telefono')?.errors?.['required']">Teléfono es requerido</div>
              <div *ngIf="registroForm.get('telefono')?.errors?.['pattern']">Teléfono debe tener 8 dígitos</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="identidad" class="block text-sm/6 font-medium text-gray-900">Identidad:</label>
          <div class="mt-2">
            <input type="text" formControlName="identidad" id="identidad" autocomplete="identidad" placeholder="Ej: 0801-1990-12345"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('identidad')?.invalid && registroForm.get('identidad')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('identidad')?.errors?.['required']">Identidad es requerida</div>
              <div *ngIf="registroForm.get('identidad')?.errors?.['pattern']">Identidad debe ser hondureña y seguir el formato 0000-0000-00000</div>
            </div>
          </div>
        </div>

        <!-- <div class="col-span-full sm:col-span-3">
          <label for="lugarNacimiento" class="block text-sm/6 font-medium text-gray-900">Lugar de
            Nacimiento</label>
          <div class="mt-2">
            <input type="text" formControlName="lugarNacimiento" id="lugarNacimiento" autocomplete="lugarNacimiento"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6  ">
          </div>
        </div> -->

        <div class="sm:col-span-3">
          <label for="fechaNacimiento" class="block text-sm/6 font-medium text-gray-900">Fecha de Nacimiento:</label>
          <div class="mt-2">
            <input type="date" formControlName="fechaNacimiento" id="fechaNacimiento" autocomplete="bday" placeholder="Ej: 2000-01-01"
              class="max-w-80 block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('fechaNacimiento')?.invalid && registroForm.get('fechaNacimiento')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('fechaNacimiento')?.errors?.['required']">Fecha de Nacimiento es requerida</div>
              <div *ngIf="registroForm.get('fechaNacimiento')?.errors?.['edadInvalida']">Debe tener al menos 4 años</div>
            </div>
          </div>
        </div>

        <!-- <div class="col-span-full">
          <label for="direccion" class="block text-sm/6 font-medium text-gray-900">Dirección</label>
          <div class="mt-2">
            <input type="text" formControlName="direccion" id="direccion" autocomplete="direccion"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
          </div>
        </div> -->

        <!-- <div class="col-span-full">
          <label for="institucionProcedencia" class="block text-sm/6 font-medium text-gray-900">Institución
            educativa de procedencia</label>
          <div class="mt-2">
            <input type="text" formControlName="institucionProcedencia" id="institucionProcedencia"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
          </div>
        </div> -->

        <div class="sm:col-span-3">
          <label for="instrumento" class="block text-sm/6 font-medium text-gray-900">Instrumento:</label>
          <div class="mt-2">
            <input type="text" formControlName="instrumento" id="instrumento" autocomplete="instrumento" placeholder="Ej: Guitarra"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('instrumento')?.invalid && registroForm.get('instrumento')?.touched" class="text-red-600">Instrumento es requerido</div>
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Dirección de correo
            electrónico</label>
          <div class="mt-2">
            <input id="email" formControlName="email" type="email" autocomplete="email" placeholder="Ej: juan.perez@example.com"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('email')?.errors?.['required']">Correo electrónico es requerido</div>
              <div *ngIf="registroForm.get('email')?.errors?.['email']">Correo electrónico no es válido</div>
              <div *ngIf="registroForm.get('email')?.errors?.['invalidEmail']">Correo electrónico debe terminar en .com</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Contraseña:</label>
          <div class="mt-2 relative">
            <input type="password" formControlName="password" id="password" autocomplete="new-password" placeholder="Ej: Contraseña1234"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <button type="button" (click)="togglePasswordVisibility('password')"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
              <svg id="password-eye" class="h-5 w-5 text-gray-500" fill="none" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </button>
            <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('password')?.errors?.['required']">Contraseña es requerida</div>
              <div *ngIf="registroForm.get('password')?.errors?.['minlength']">Contraseña debe tener al menos 6 caracteres</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="confirm-password" class="block text-sm/6 font-medium text-gray-900">Confirmar
            Contraseña:</label>
          <div class="mt-2 relative">
            <input type="password" formControlName="confirmPassword" id="confirm-password" autocomplete="new-password" placeholder="Ej: Contraseña1234"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
            <button type="button" (click)="togglePasswordVisibility('confirm-password')"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
              <svg id="confirm-password-eye" class="h-5 w-5 text-gray-500" fill="none"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </button>
            <div *ngIf="registroForm.get('confirmPassword')?.invalid && registroForm.get('confirmPassword')?.touched" class="text-red-600">
              <div *ngIf="registroForm.get('confirmPassword')?.errors?.['required']">Confirmar contraseña es requerido</div>
              <div *ngIf="registroForm.get('confirmPassword')?.errors?.['minlength']">Confirmar contraseña debe tener al menos 6 caracteres</div>
              <div *ngIf="registroForm.errors?.['mismatch']">Las contraseñas no coinciden</div>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="programas" class="mx-auto w-full  text-sm/6 font-medium text-gray-900">Programas:</label>
          <div class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
            <div *ngFor="let programa of programas" class="block mx-auto w-4/5 sm:max-w-sm p-6 border border-gray-200 rounded-lg shadow"
                 [ngClass]="{'programa-seleccionado': programa.seleccionado, 'bg-white': !programa.seleccionado}">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ programa.nombre }}</h5>
              <p class="font-normal text-gray-700">{{ programa.descripcion }}</p>
              <button (click)="toggleSeleccionarPrograma(programa)"
                      class="custom-login-button mt-4 px-4 py-2 text-white bg-indigo-600 rounded-lg">
                {{ programa.seleccionado ? 'Seleccionado' : 'Seleccionar' }}
              </button>
            </div>
          </div>
        </div>

        <div class="sm:col-span-6">
          <div class="mt-2">
            <select formControlName="horario" id="horario" (change)="onHorarioChange()"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 lg:text-lg xl:text-xl 2xl:text-2xl">
              <option value="" disabled selected>Programas</option>
              <option *ngFor="let programa of getSelectedProgramas()" [value]="programa.nombre">{{ programa.nombre }}</option>
            </select>
            <div *ngIf="registroForm.get('horario')?.invalid && registroForm.get('horario')?.touched" class="text-red-600">Horario es requerido</div>
          </div>
        </div>

        <div class="sm:col-span-6" *ngIf="cursosSeleccionados.length > 0">
          <label for="cursos" class="block text-sm/6 font-medium text-gray-900">Cursos:</label>
          <div class="mt-2">
            <table class="min-w-full bg-white shadow-md overflow-hidden ">
              <thead class="bg-gray-200">
                <tr>
                  <th class="py-2 px-4">Nombre</th>
                  <th class="py-2 px-4">Docente</th>
                  <th class="py-2 px-4">Horario</th>
                </tr>
              </thead>
            </table>
            <div class="overflow-y-auto max-h-64">
              <table class="min-w-full bg-white shadow-md overflow-hidden ">
                <tbody>
                  <tr *ngFor="let curso of cursosSeleccionados" (click)="toggleSeleccionarCurso(curso)"
                      [ngClass]="{'bg-gray-300': curso.seleccionado, 'hover:bg-gray-100': !curso.seleccionado}"
                      class="cursor-pointer">
                    <td class=" py-2 px-4 ">{{ curso.nombre }}</td>
                    <td class=" py-2 px-4 ">{{ curso.docente }}</td>
                    <td class=" py-2 px-4">{{ curso.horario }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="registroForm.get('cursos')?.invalid && registroForm.get('cursos')?.touched" class="text-red-600">Debe seleccionar al menos un curso</div>
        </div>

        <div class="sm:col-span-6">
          <div class="flex items-start">
            <div class="flex h-5 items-center">
              <input id="terms" formControlName="terms" type="checkbox"
                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-medium text-gray-700">
                <span>
                  Yo {{ registroForm.get('nombre')?.value }} {{ registroForm.get('apellido')?.value }} como estudiante del Conservatorio Sampedrano de las
                  Artes, me comprometo responsablemente a lo siguiente:<br>
                  1. Cancelar oportunamente y de forma anticipada el importe de las cuotas mensuales por concepto
                  de instrucción musical.<br>
                  2. Adquirir mi propio instrumento musical.<br>
                  3. Completar el periodo de instrucción musical en el cual he sido inscrito.<br>
                  4. Asistir puntualmente a mis clases y avisar con anticipación en caso de ausencia.<br>
                  5. Cuidar mi material, estudiar y cumplir con las tareas asignadas.<br>
                  6. Participar activamente en los recitales y presentaciones organizadas por el
                  Conservatorio.<br>
                  7. Prepararme y someterme a las evaluaciones periódicas planificadas.
                </span>
              </label>
            </div>
          </div>
          <div *ngIf="registroForm.get('terms')?.invalid && registroForm.get('terms')?.touched" class="text-red-600">Debe aceptar los términos y condiciones</div>
        </div>



      </div>
    </div>

    <div class="max-w-96 mx-auto pb-4">
      <button type="submit"
        class="w-full text-white custom-login-button focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center sm:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
        Matricularse
      </button>
    </div>
  </form>
</div>
