/* Estilos personalizados */
.custom-login-button {
  background-color: #A36750; /* Color verde */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}

.custom-login-button:hover {
  background-color: #A56B4E; /* Color verde oscuro */
  transform: scale(1.05); /* Aumentar tamaño */
}

.programa-seleccionado {
  background-color: #D4AE8D; /* Color específico */
}

th {
  background-color: #A56B4E;
  color: white;
  border-color: #A56B4E;
  border-top: 1px solid #A56B4E;

}

td {
  border-color: #A56B4E;
  border: 1px solid #A56B4E;
}

.selected-row {
  background-color: #d1d5db !important; /* Gris */
}

.programa-card {
  display: flex;
  justify-content: center;
}

.programa-card .block {
  width: 100%;
  max-width: 300px; /* Tamaño fijo cuando están pequeñas */
}
