/* Estilos personalizados */
.custom-login-button {
  background-color: #A36750; /* Color verde */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}

.custom-login-button:hover {
  background-color: #A56B4E; /* Color verde oscuro */
  transform: scale(1.05); /* Aumentar tamaño */
}


.custom-link {
  color: #361F18; /* Color naranja */
  transition: color 0.3s ease; /* Efecto de transición */
}

.custom-link:hover {
  color: #361F18; /* Color naranja oscuro */
}
